@model Boutique.Models.Staff
@{
    ViewBag.Title = "Quản lí nhân viên";
    ViewBag.headTitle = "Danh sách nhân viên";
    Layout = "~/Areas/Admin/Views/Shared/admin_Layout.cshtml";

}

<div class="row md-10">
    <div class="col-md-12">
        <a href="#" data-toggle="modal" data-target="#modalCreateUpdate" class="btn btn-info">Thêm mới</a>
    </div>
</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Họ và tên</th>
            <th>Địa chỉ</th>
            <th>Ngày sinh</th>
            <th>Số điện thoại</th>
            <th>CMT</th>
            <th>Chức năng</th>

        </tr>
    </thead>
    <tbody id="show_data">
    </tbody>

</table>

<div class="modal fade" id="modalCreateUpdate" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static"
     data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <div class="row">
                    <div class="form-group  col-md-12">
                        <span class="thong-tin-thanh-toan">
                            <h5>Cập nhật thông tin nhân viên</h5>
                        </span>
                    </div>
                </div>
                <div class="row">
                   
                        <input type="hidden" id="exampleId" value="0" disabled />

                        <div class="form-group col-md-6">
                            <label class="control-label" for="inputName">Họ và tên</label>
                            <input class="form-control" type="text" required value="" id="inputName">
                            <span class="error text-danger"></span>
                        </div>
                        <div class="form-group  col-md-6">
                            <label class="control-label" for="inputPhone">Số điện thoại</label>
                            <input class="form-control" type="number" required value="" id="inputPhone">
                            <span class="error text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label" for="inputEmail">Địa chỉ email</label>
                            <input class="form-control" type="text" required value="" id="inputEmail">
                            <span class="error text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label" for="inputDate">Ngày sinh</label>
                            <input class="form-control" type="date" value="" id="inputDate" placeholder="dd-mm-yyyy">

                            <span class="error text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label" for="inputAddress">Địa chỉ</label>
                            <input class="form-control" type="text" value="" id="inputAddress">
                            <span class="error text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label" for="inputCMT">Chứng minh thư</label>
                            <input class="form-control" type="text" value="" id="inputCMT">
                            <span class="error text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label" for="inputPass">Mật khẩu</label>
                            <input class="form-control" type="text" value="" id="inputPass">
                            <span class="error text-danger"></span>
                        </div>
                        <div class="form-group  col-md-6">
                            <label for="exampleSelect1" class="control-label">Chức vụ</label>
                            @Html.DropDownList("Job_title", null, htmlAttributes: new { @id="job_title", @class = "form-control" })
                        </div>

                    </div>
                    
                <BR>

                <BR>
                <BR>
                <button id="btnLuu" class="btn btn-save" type="button">Lưu lại</button>
                <a id="btnHuy" class="btn btn-cancel" data-dismiss="modal" href="#">Hủy bỏ</a>
                <BR>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        loadData();
        // Create
        $('#btnLuu').click(function () {
            var _id = $('#exampleId').val();
            var name = $('#inputName').val();
            var email = $('#inputEmail').val();
            var phone = $('#inputPhone').val();
            var date = $('#inputDate').val();
            var address = $('#inputAddress').val();
            var cmt = $('#inputCMT').val();
            var pass = $('#inputPass').val();
            var job_title = $('#job_title').val();
            var modal = {
                Id: _id,
                FullName: name,
                Email: email,
                DateOfBirth: date,
                Phone: phone,
                CMT: cmt,
                Address: address,
                Password: pass,
                Job_title: job_title
            };
            if (Validate()) {
                $.ajax({
                    url: '/Staff/Create',
                    type: 'POST',
                    data: modal,
                    success: function (response) {
                        if (response.success) {
                            loadData();
                            resetInput();
                            $('#modalCreateUpdate').modal('hide');
                            window.location.reload();
                        }
                    }
                });
            }
            
        });
        $('#btnHuy').click(function () {
            resetInput();
        });

       
        $('body').on('click', '.btn--edit', function () {
            var Id = $(this).data('id');
            GetDataById(Id);
        });
        $('body').on('click', '.btn--delete', function () {
            var Id = $(this).data('id');
            if (parseInt(Id) > 0) {
                var conf = confirm('Bạn có chắc chắn muốn xóa?');
                if (conf) {
                    DeleteById(Id);
                }
            }
        });

    });
  
    // Read
    function loadData() {
        $.ajax({
            url: '/Staff/GetData',
            type: 'GET',
            success: function (res) {
                if (res.TotalItems > 0) {
                    var items = res.Data;
                    var html = "";
                    for (let i = 0; i < res.TotalItems; i++) {
                        html += "<tr id='trow_" + items[i].Id + "'>";
                        html += "<td>" + items[i].FullName + "</td>";
                        html += "<td>" + items[i].Address + "</td>";
                        html += "<td>" + formatDate(items[i].DateOfBirth) + "</td>";
                        html += "<td>" + items[i].Phone + "</td>";
                        html += "<td>" + items[i].CMT + "</td>";
                        html += "<td><a data-id='" + items[i].Id + "' href='#' class='btn btn-warning btn--edit'> <i class='fas fa-edit'></i></a> <a data-id='" + items[i].Id + "' href='#' class='btn btn-danger btn--delete'> <i class='fas fa-trash-alt'></i></a></td>";
                        html += "</tr>";
                    }
                    $('#show_data').html(html);
                }
            }
        });
    }
    // update
    function GetDataById(Id) {
        $.ajax({
            url: '/Staff/GetById',
            type: 'GET',
            data: { Id: Id },
            success: function (res) {
                if (res.data != null) {
                    $('#inputName').val(res.data.FullName);
                    $('#inputEmail').val(res.data.Email);
                    $('#inputPhone').val(res.data.Phone);
                    $('#inputDate').val(res.data.DateOfBirth);
                    $('#inputAddress').val(res.data.Address);
                    $('#inputCMT').val(res.data.CMT);
                    $('#inputPass').val(res.data.Password);
                    $('#exampleId').val(res.data.Id);
                    $('#job_title').val(res.data.Job_title);
                    $('#job_title option[value="' + res.data.Job_title + '"]').prop('selected', true);
                    $('#modalCreateUpdate').modal('show');
                }
            }
        });
    }
    //delete
    function DeleteById(Id) {
        $.ajax({
            url: '/Staff/Delete',
            type: 'POST',
            data: { Id: Id }
        }).done(function (res) {
            if (res.Success) {
                $('#trow_' + Id).remove();
            }
        }).fail(function (err) {
            console.log(err);
        });
    }
     //validate
    function Validate() {
        var check = false;
        var name = $('#inputName').val();
        var email = $('#inputEmail').val();
        var phone = $('#inputPhone').val();
        var date = $('#inputDate').val();
        var address = $('#inputAddress').val();
        var cmt = $('#inputCMT').val();
        var pass = $('#inputPass').val();
        if (name === '' && email === '' && phone === '' && date === '' && address === '' && cmt === '' && pass === '') {
            $('#inputName').next().html('Bạn chưa nhập họ và tên');
            $('#inputEmail').next().html('Bạn chưa nhập Email');
            $('#inputPhone').next().html('Bạn chưa nhập số điện thoại');
            $('#inputDate').next().html('Ngày sinh không được trống');
            $('#inputAddress').next().html('Bạn chưa nhập nơi cư trú');
            $('#inputCMT').next().html('Bạn chưa nhập CMT');
            $('#inputPass').next().html('Bạn chưa nhập mật khẩu');
            check = false;
        }
        else {
            $(this).next().html('');
            check = true;
        }
        return check;
    }
    function resetInput() {
        $('#inputName').val('');
        $('#inputEmail').val('');
        $('#inputPhone').val('');
        $('#inputDate').val('');
        $('#inputAddress').val('');
        $('#inputCMT').val('');
        $('#inputPass').val('');
    }
    function formatDate(inputDate) {
        const regex = /\/Date\((\d+)\)\//;
        const match = regex.exec(inputDate);

        if (match && match[1]) {
            const dateInMillis = parseInt(match[1], 10);
            const date = new Date(dateInMillis);

            const day = date.getDate();
            const month = date.getMonth() + 1; // Tháng trong JavaScript đếm từ 0, cộng thêm 1 để đúng định dạng
            const year = date.getFullYear();

            // Hàm padStart sẽ thêm số 0 vào trước nếu ngày hoặc tháng chỉ có một chữ số
            const formattedDay = String(day).padStart(2, '0');
            const formattedMonth = String(month).padStart(2, '0');

            // Xây dựng chuỗi ngày tháng năm mới theo định dạng "dd-MM-yyyy"
            const formattedDate = `${formattedDay}-${formattedMonth}-${year}`;

            return formattedDate;
        } else {
            console.error("Ngày không hợp lệ!");
            return null;
        }
    }
</script>
